streamlit
opencv-python-headless
pip3 install torch==1.9.0+cpu torchvision==0.10.0+cpu torchaudio==0.9.0 -f https://download.pytorch.org/whl/torch_stable.html
gTTS
seaborn==0.11.0
tqdm==4.50.2
Flask==1.1.2
onnx==1.9.0
requests==2.25.1
scipy==1.5.2
tensorflow==2.5.0
pandas==1.1.3
numpy==1.19.2
streamlit==0.87.0
thop==0.0.31.post2005241907
pytesseract==0.3.8
matplotlib==3.3.2
albumentations==1.0.3
coremltools==4.1
onnxruntime==1.8.1
pafy==0.5.5
Pillow==8.3.2
protobuf==3.17.3
pycocotools==2.0.2
PyYAML==5.4.1