streamlit
opencv-python-headless
scipy
pandas
numpy
torch
torchvision
pytesseract
Pillow
gTTS
seaborn==0.11.0
tqdm==4.50.2
Flask==1.1.2
onnx==1.9.0
requests==2.25.1
tensorflow==2.5.0
thop==0.0.31.post2005241907
matplotlib==3.3.2
albumentations==1.0.3
coremltools==4.1
onnxruntime==1.8.1
pafy==0.5.5
protobuf==3.17.3
pycocotools==2.0.2
PyYAML==5.4.1